<%- include("partials/header") %>

<div class="centered">
    <div>
        <img src="https://www.carboncents.com/logo-1.png" width="350" height="250"/>
    </div>
    <div>
        <button type="submit" class="btn btn-primary bg-white"><a href="/form">Add Document</a></button>
    </div>
</div>

<%- include("partials/footer") %>